@font-face {
  font-family: 'Kode Regular';
  src: url('../fonts/Kode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Kode Regular', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kode Regular', sans-serif;
    color: #333;
    margin-top: 24px;
    margin-bottom: 16px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

code {
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

footer {
  text-align: center;
  padding: 3px;
}

footer img {
  height: 50px;
  margin: 10px;
  text-decoration: none;
  /* Remove default underline */
  border: none;
}